<%- include("../partials/header.ejs") %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/premium.css">

<div id="ans">
    <a href="/home" id="ans">ANS</a>
</div>
<div id="desc">
    <span>Pick your premium</span>
</div>

<div class="container">
    <div class="individual">
        <div class="topic">Individual</div>
        <div class="price">$9.99</div>
        <div class="acc">1 account</div>
        <hr>
        <div class="btm_info">
            <p class="info"><i class="fas fa-check"></i>On-demand download service</p>
            <p class="info"><i class="fas fa-check"></i>On-demand playback</p>
            <p class="info"><i class="fas fa-check"></i>Listen to music ad-free</p>
            <p class="info"><i class="fas fa-check"></i>Play anywhere - even offline</p>
        </div>
        <p class="get"><a href="/premium/get">GET STARTED</a></p>
    </div>

    <div class="duo">
        <div class="topic">Duo</div>
        <div class="price">$12.99</div>
        <div class="acc">2 accounts</div>
        <hr>
        <p class="info"><i class="fas fa-check"></i>2 Premium accounts for a couple under one roof</p>
        <p class="info"><i class="fas fa-check"></i>Duo Mix: a playlist for two, regularly updated with music you both enjoy</p>
        <p class="info"><i class="fas fa-check"></i>Ad-free music listening, play offline, on-demand playback</p>
        <p class="info"><i class="fas fa-check"></i>Block explicit music</p>
        <p class="get"><a href="/premium/get">GET STARTED</a></p>
    </div>
</div>

<%- include("../partials/footer.ejs") %>