body
{
    background: #17181b;
    font-family: "Kanit", sans-serif;
}

::-webkit-scrollbar
{
    width: 5px;
}

::-webkit-scrollbar-track
{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgb(0, 0, 0.25);
}

::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.356);
}

::-webkit-scrollbar-thumb:hover
{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.212);
}

#ans
{
    color: #fff;
    text-decoration: none;
}

#ans:hover
{
    color: #4CCEE8;
    transition: 0.5s;
}

.wrapper .header
{
    z-index: 1;
    background: #22242A;
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
}

.wrapper .header .header-menu
{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.wrapper .header .header-menu .title
{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.wrapper .header .header-menu .title span
{
    color: #4CCEE8;
}

.wrapper .header .header-menu .sidebar-btn
{
    color: #fff;
    position: absolute;
    margin-left: 240px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
}

.wrapper .header .header-menu .sidebar-btn:hover
{
    color: #4CCEE8;
}

.wrapper .header .header-menu ul
{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper .header .header-menu ul li a
{
    background: #fff;
    color: #000;
    display: block;
    margin-left: 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: background, color;
}

.wrapper .header .header-menu ul li a:hover
{
    background: #4CCEE8;
    color: #fff;
}

.sidebar
{
    z-index: 1;
    top: 0;
    background: #2f323a;
    margin-top: 70px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.profile_info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .profile_info .profile_image
{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-top: 30px;
}

.sidebar .profile_info h4
{
    color: #fff;
    margin-bottom: 27px;
    margin-top: 27px;
    font-weight: 600;
    font-size: 16px;
}

.loginfirst
{
    color: #fff;
    text-decoration: none;
}

.loginfirst:hover
{
    color: #19B3D3;
    transition: 0.5s;
}

.sidebar .sidetext a
{
    display: block;
    color: #fff;
    position: relative;
    padding: 25px 20px;
    transition: 0.3s;
    transition-property: color;
    text-decoration: none;
}

.sidebar .sidetext a:hover
{
    background: #19B3D3;
    transition: 0.5s;
}

.sidebar .sidetext i
{
    padding-right: 20px;
}


#check:checked ~ .sidebar
{
    left: -185px;
}

#check:checked ~ .sidebar a span
{
    display: none;
}

#check:checked ~ .sidebar a
{
    font-size: 20px;
    margin-left: 185px;
    width: 100%;
}

.sidetext a.active
{
    background: #19B3D3;
}

#check:checked ~ .content
{
    margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info
{
    display: none;
}

#check
{
    display: none;
}

.mobile_nav
{
    display: none;
}

.content
{
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    transition: 0.5s;
}

.content .topic
{
    color: white;
    padding-top: 15px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 600;
}

.content hr
{
    opacity: .5 !important;
    height: 1px !important;
    color: white !important;
}

.container
{
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
}

.container .input
{
    border: 0;
    outline: none;
    color: #8b7d77;
}

.search_wrap
{
	width: 250px;
}

.search_wrap .search_box
{

    position: relative;
	width: 250px;
    height: 34px;
}

.search_wrap .search_box .input
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 16px;
}

.search_wrap .search_box .btn
{
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
	background: white;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn.btn_common .fas
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: black;
	font-size: 18px;
}

.search_wrap.search_wrap_3 .search_box .input
{
	border-radius: 50px;
}

.search_wrap.search_wrap_3 .search_box .btn
{
    right: 0px;
	border-radius: 50%;
}

.contentbox
{
    display: flex;
    width: 100%;
}

.contentbox .formbox
{
    width: 540px;
}

.contentbox .formbox .inputbox
{
    margin-bottom: 20px;
}

.contentbox .formbox .inputbox p
{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5px;
    cursor: context-menu;
    color: white;
}

.contentbox .formbox .inputbox input
{
    width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid white;
    background: transparent;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.contentbox .formbox .inputbox select
{
    width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid white;
    background: transparent;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.contentbox .formbox .inputbox input[type="submit"]
{
    margin-top: 10px;
    font-weight: 700;
    font-size: 22px;
    background: #17181b;
    color: white;
    border: solid 2px white !important;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.contentbox .formbox .inputbox input[type="submit"]:hover
{
    color: #19B3D3;
    transition: 0.5s;
}

option
{
    background-color: #17181b;
}

.inputbox img
{
    margin-top: 15px;
    border-radius: 5px;
}

.img-fluid
{
    max-width: 100%;
    height: auto;
}

#input_img
{
    margin-bottom: 15px;
}

.image-preview
{
    width: 250px;
    display: none;
    align-items: center;
    justify-content: center;
    color: #cccccc;
}

.image-preview__image
{
    display: none;
    width: 100%;
    border-radius: 5px;
    margin-top: 15px;
}

@media screen and (max-width: 780px)
{
    .sidebar
    {
        display: none;
    }
    #sidebar_btn
    {
        display: none;
    }
    #check:checked ~ .content
    {
        margin-left: 0;
    }
    .mobile_nav
    {
        display: block;
        width: 100%;
    }
    .nav_bar
    {
        background: #222;
        width: 100%;
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav_bar .mobile_profile_image
    {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .nav_bar .nav_btn
    {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    }
    .nav_bar .nav_btn:hover
    {
        color: #19B3D3;
    }
    .mobile_nav_items
    {
        background: #2F323A;
        display: none;
    }
    .mobile_nav_items a
    {
        color: #fff;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }
    .mobile_nav_items a:hover
    {
        background: #19B3D3;
    }
    .mobile_nav_items i
    {
        padding-right: 10px;
    }
    .active
    {
        display: block;
    }
    .sidebar-btn
    {
        display: none;
    }
    .content
    {
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
    }
    .search_wrap
    {
	    width: 150px;
    }
    .search_wrap .search_box
    {
	    width: 150px;
    }
}

@media screen and (max-width: 380px)
{
    .search_wrap
    {
	    width: 110px;
    }
    .search_wrap .search_box
    {
	    width: 110px;
    }
    .wrapper .header .header-menu {
        padding: 0 8px;
    }
}